<h1><%= tmp Classroom %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= ta Classroom, :estudante %></th>
      <th><%= ta Classroom, :curso %></th>
      <th><%= ta Classroom, :entrada %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.student.name %></td>
        <td><%= classroom.course.name %></td>
        <td><%= l classroom.entry_at %></td>
        <td><%= link_to 'Editar', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Excluir', classroom, method: :delete, data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova classe', new_classroom_path, class: 'btn btn-default' %>
